<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1><span>I'm</span> Edward P. Legaspi</h1>
                            <h4>Java Architect </h4>
                            <ul>
                                <li>Software Architect who can develop a system from scratch and knows all the steps in the software development life cycle</li>
                                <li>Loves working with open source technologies</li>
                                <li>Java Architect who currently specialized in Billing Domain</li>
                                <li>10+ years experience in engineering and development working primarily on Cloud and Mobile Systems</li>
                                <li>Experienced Team / Tech Lead with the ability to lead and motivate teammates</li>
                                <li>With strong analytical and problem-solving skills using Object Oriented Programming</li>
                                <li>Able to work effectively in a remote and cross-cultural environment individually and within a team</li>
                                <li>Skills: Software / Database Architecture and Development, Scrum master, Project management, Business development</li>
                            </ul>
                            
                            <p>Skills: Software / Database Architecture and Development, Scrum master, Project management, Business development</p>
                            <p>Techs: Microservices (Spring Cloud), JPA / Hibernate, JSF / REST / SOAP API, Maven, GIT, Liquibase, Jenkins, Docker</p>
                            <p>Programming Languages: Java(JavaEE, Spring), ASP.NET(C#)</p>
                            <p>Databases: Postgresql, MSSqlServer, MySQL, Oracle</p>
                            <p>Frontend Frameworks: Primefaces, Angular5~, ReactJS</p>
                            <p>Platforms: JBOSS / Wildfly, JavaEE, Amazon Services</p>
                            <p>Operating Systems: Windows, Ubuntu, Red Hat, OS X Familiar with development in Ubuntu and experience in Linux/Ubuntu cloud deployment</p>
                            
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a target="_blank" href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.facebook_page_url}}"><i class="fa fa-users" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.discord_url}}"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                                </ul>
                                <a target="_blank" href="https://docs.google.com/document/d/1lW1udIdju8sVb5jNVaqtjF9YxReDdb9rjPF0FqbBoJE" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/images/czetsuya.png" alt="author" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->