<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-8">
                        <div class="profile-img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/images/edwardpantojalegaspi.png" alt="author" class="img-fluid">
                        </div>
                        <br />
                        <div class="about-content">
                            <p>Hello! I'm Ed,</p>
                            <p>Thank you for visiting my website. I am a Remote Senior Java Software Engineer with cross-functional experience spanning software architecture, project management, software development, and devops. I am passionate about solving global and local challenges, identifying market trends and opportunities, and translating customer needs into meaningful software solutions that drives innovation and business growth.</p>
                            <p>I help companies design, develop, and maintain software solutions that meet the customer and business needs.</p>
                            <p>Whether you are trying to build a new startup or have an existing project, I'd love to hear about the most challenging product development problems you or your team are trying to solve. I’m always interested in hearing about new projects and opportunities.</p>
                            <p>Let's chat online. Please feel free to drop me a line and tell me about it. I'd love to listen and see if there's anything I can do to help. </p>
                            <p>Thanks and I look forward to connecting with you.</p>
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a target="_blank" href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.facebook_page_url}}"><i class="fa fa-users" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.discord_url}}"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="{{site.web_url}}"><i class="fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                </ul>
                                <a target="_blank" href="https://www.dropbox.com/scl/fi/kxvqv5dsndokn2n47acjx/Ed-Legaspi-Remote-Senior-Java-Developer.pdf?rlkey=1gs0u2996ja71jb4cyh8a6gsc&dl=0" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->
