        <!-- Start Portfolio ===================================-->
        <section class="full-page pd-0 clearfix" id="portfolio">
            <div class="portfolio">
                <div class="container-fluid">
                    <div class="portfolio-wrapper text-center">
                        <div class="section-title">
                            <div class="border-center"></div>
                            <h2>view my portfolio</h2>
                            <div class="border-center"></div>
                        </div>
                        <div class="portfolio-filters button-group">
                            <button type="button" class="button is-checked" data-filter="*">all</button>
                            <button type="button" class="button" data-filter=".architecture">architecture</button>
                            <button type="button" class="button" data-filter=".development">development</button>
                            <button type="button" class="button" data-filter=".web">web</button>
                            <button type="button" class="button" data-filter=".wordpress">wordpress</button>
                        </div>
                        <div class="portfolio-grid row">
                            <div class="portfolio-item  development architecture">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://opencellsoftware.com" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-opencell.png" alt="Opencell Software" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item  development architecture">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://meveo.org" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-meveo.png" alt="Meveo Platform" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item  development architecture">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/portfolio-terawhars.png" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-terawhars.png" alt="TeraWHARS Catalog and Sellout Management System" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development wordpress">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/portfolio-kalidadprintsandfavors.png" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-kalidadprintsandfavors.png" alt="Kalidad Prints and Favors - Wedding Invitation Supplies" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development wordpress">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://templatesandvectors.com" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-templatesandvectors.png" alt="Templates and Vectors - Printable Invitation Templates" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development wordpress">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://homebasedchef.com" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-homebasedchef.png" alt="Homebasedchef - Quick, easy, and simple recipes" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development wordpress">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://lanebrook.com" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-lanebrook.png" alt="Lanebrook - Senior Living" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development web">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://topamanila.com/" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-topamanila.png" alt="Topamanila - Custom made arts and crafts" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item development web">
                                <div class="portflio-item-wrap wow fadeIn">
                                    <a href="https://kitchennaturals.com/" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/portfolio-kitchennaturals.png" alt="Kitchennaturals - All natural and organic artisan foods" />
                                        <div class="portfolio-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" portfolio image hover"/></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio ==================-->