<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="skills-flower-image">
            <img src="{{site.baseurl}}/assets/images/flower-img.png" alt="flower image" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="skills-project-box wow fadeInRight">
            <h5>Lets get started on your project </h5>
            <p>Hello!</p>
            <p>I am very excited to hear from you.</p>
            <p>Whether you are working on a new startup or have an existing project, I'd love to hear about the most challenging product development problems you or your team are trying to solve. I’m always interested in hearing about new projects and opportunities.</p>
            <p>Please feel free to drop me a line and tell me about it. I'd love to listen and see if there's anything I can do to help.</p>
            <p>Thanks and I look forward to connecting with you.</p>
            <a href="/#contact" class="skills-project-btn btn-primary btn">get in touch</a>
        </div>
    </div>
</div>