<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="skills-flower-image">
            <img src="{{site.baseurl}}/assets/images/flower-img.png" alt="flower image" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="skills-project-box wow fadeInRight">
            <h5>lets get started on your project </h5>
            <p>Do send me a message if you are looking for a tech startup co-founder or would want your own custom software develop. </p>
            <a href="/#contact" class="skills-project-btn btn-primary btn">get in touch</a>
        </div>
    </div>
</div>